<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="NlogInfo\nlog.txt">

  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <targets async="true">

    <!--文本记录Error日志-->
    <target xsi:type="File" name="errorfile" fileName="${basedir}\\ErrorLogs\\${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${newline}${message}${newline}${exception}">
    </target>

    <!--文本记录Info日志-->
    <target xsi:type="File" name="infofile" fileName="${basedir}\\InfoLogs\\${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${newline}${message}${newline}${exception}">
    </target>

    <!--文本记录Debug日志-->
    <target xsi:type="File" name="debugfile" fileName="${basedir}\\DebugLogs\\${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${newline}${message}${newline}${exception}">
    </target>
    
    <!--邮件记录Error日志-->
    <target name="ErrorMail" xsi:type="Mail"              
              smtpServer="smtp.163.com"
              smtpPort="25"
              smtpAuthentication="Basic"
              smtpUserName="smtpUserName@163.com"
              smtpPassword="smtpPassword"
              from="from@163.com"
              to="to@qq.com"
              subject="钉钉通讯录回调接口"   
              body="${newline}报错信息如下：${newline}${newline}DateTime:${newline}${longdate}${newline}${newline}Machine:${newline}${machinename}${newline}${newline}Class:${newline}${callsite:className=true:methodName=true:skipFrames=1}${newline}${newline}Message:${newline}${message}${newline} ${exception}">
    </target>

    <target xsi:type="Null" name="blackhole">
    </target>
    
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Error" writeTo="ErrorMail" />
    <logger name="*" level="Info" writeTo="infofile" />
    <logger name="*" level="Debug" writeTo="debugfile" />
  </rules>
</nlog>