<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
  </configSections>
  <log4net>
    <root>
      <!--<level value="DEBUG"/>-->
      <level value="ALL"/>
      <!--根据log级别记录到不同的日志文件-->
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="InfoLog" />
      <appender-ref ref="ErrorLog" />
      <appender-ref ref="DeBugLog" />
    </root>
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <file value="log\Info\Info.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyyMMdd.log" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <ConversionPattern value="%d %c - %m%n" />
      </layout>
      <securityContext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process" />
      </securityContext>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="log\Erro\Error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyyMMdd.log" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <ConversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <securityContext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process" />
      </securityContext>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="DeBugLog" type="log4net.Appender.RollingFileAppender">
      <file value="log\DeBug\DeBugLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyyMMdd.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <ConversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <securityContext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process" />
      </securityContext>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <!--发送邮件通知异常信息-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <!--接收方邮箱地址，多个接收方以"，"隔开-->
      <to value="接收方邮箱地址@qq.com" />
      <!--发送方邮箱地址-->
      <from value="发送方邮箱地址@163.com" />
      <!--发送发邮箱地址-->
      <username value="发送发邮箱地址@163.com" />
      <!--发送方邮箱登录密码-->
      <password value="发送方邮箱登录密码" />
      <!--邮件主题-->
      <subject value="钉钉同步ESB组织框架以及人员信息应用程序发送了严重错误" />
      <!--邮件服务器-->
      <smtpHost value="smtp.163.com" />
      <!--邮件端口-->
      <port value ="25"/>
      <!--设置所使用的循环缓冲区的大小，默认为512个事件，若将此值设置为小于等于1，将没有缓冲，记录事件会同步交付-->
      <bufferSize value="0" />
      <!--超长部分是否丢弃-->
      <lossy value="false" />
      <!-- 下面的定义， 就是 日志级别 大于 WARN 的， 才发邮件.  -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <!-- 下面是 定义邮件的格式 （好多换行啊） -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d [%t] %-5p %c - %m%n %loggername" />
      </layout>
    </appender>
  </log4net>
</configuration>