<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- ================== 1：服务程序相关配置 ================== -->
  <!-- 1分钟=60000毫秒(ms) 10分钟=600000 毫秒 1小时=3600000毫秒-->
  <add key="ThreadSleepTime" value="6000"/>

  <!-- ================== 2：钉钉相关配置 ================== -->
  <add key="CorpID" value="你的CorpID" />
  <add key="corpsecret" value="你的corpsecret" />
  <add key="TokenCacheTime" value="7000" />
  <add key="TokenUrl" value="https://oapi.dingtalk.com/gettoken?corpid={0}&amp;corpsecret={1}" />
  <!--部门操作-->
  <add key="GetDepartmentList" value="https://oapi.dingtalk.com/department/list?access_token={0}" />
  <add key="GetDepartment" value="https://oapi.dingtalk.com/department/get?access_token={0}&amp;id={1}"/>
  <add key="CreateDepartment" value="https://oapi.dingtalk.com/department/create?access_token={0}"/>
  <add key="UpdateDepartment" value="https://oapi.dingtalk.com/department/update?access_token={0}" />
  <add key="DeleteDepartment" value="https://oapi.dingtalk.com/department/delete?access_token={0}&amp;id={1}"/>

  <!--用户操作-->
  <add key="GetUseridByUnionid" value="https://oapi.dingtalk.com/user/getUseridByUnionid?access_token={0}&amp;unionid={1}" />
  <add key="GetEmployee" value="https://oapi.dingtalk.com/user/get?access_token={0}&amp;userid={1}"/>
  <add key="CreateEmployee" value="https://oapi.dingtalk.com/user/create?access_token={0}"/>
  <add key="UpdateEmployee" value="https://oapi.dingtalk.com/user/update?access_token={0}" />
  <add key="DeleteEmployee" value="https://oapi.dingtalk.com/user/delete?access_token={0}&amp;userid={1}"/>
  <add key="BatchDeleteEmployee" value="https://oapi.dingtalk.com/user/batchdelete?access_token={0}"/>
  <add key="GetByDepartmentIdForSimpleList" value="https://oapi.dingtalk.com/user/simplelist?access_token={0}&amp;department_id={1}"/>
  <add key="GetByDepartmentIdForUserInfoList" value="https://oapi.dingtalk.com/user/list?access_token={0}&amp;department_id={1}"/>
  <add key="GetByDepartmentIdForAdmin" value="https://oapi.dingtalk.com/user/get_admin?access_token={0}"/>
</appSettings>


